# Destination Pay-To-Address (Tip Recipient)
# Anyone can tip to this address derived from this environment variable.
NEXT_PUBLIC_RECIPIENT_ADDRESS="mn_addr_preprod1qz603evv82d8q7c040d9hswvx774hkmz7v9593z7v8fwn62g6f5su3a07t"

# Deployed Tip Jar Contract Address on Midnight Preprod
NEXT_PUBLIC_CONTRACT_ADDRESS="02005a7698e6ffbc148c2b7617b43b6dc008985172288339572ad1881512aa643b2f"

# Target Midnight Network (preprod | undeployed)
NEXT_PUBLIC_NETWORK_ID="preprod"

# Indexer GraphQL Endpoint
NEXT_PUBLIC_INDEXER_URI="https://indexer.preprod.midnight.network/api/v1/graphql"

# Proof Server Endpoint
NEXT_PUBLIC_PROVER_URI="http://localhost:6300"
